<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('../_templates/_head.ejs')%>

    <%-include('../_templates/_head.ejs', {
        pageStyle: 'page.calculator.css',
        pageJavascript: ''
    }) %>
</head>
<body>

<header>
    <%-include('../_templates/_header.ejs')%>
</header>

<div class="detail">
    본문 이라구욧!
    본문 이라구욧!
    본문 이라구욧!
</div>

<footer>
    <%-include('../_templates/_footer.ejs')%>
</footer>

</body>
</html>